.row
	.span8.well
		%h1= @truck.name
		= link_to 'Edit your profile', edit_truck_path(@truck) if @is_owner
.row
	.span6
		- if @truck.description.present? || @is_owner
			%h3= "About #{@truck.name}"
			- if @truck.description.present?
				%p @truck.description
			- else
				%em
					You haven't filled this out yet. Fix this by
					= link_to 'editing your profile!', edit_truck_path(@truck)

	.span6
		%h3= "#{@truck.name}'s Upcoming Stops"
		- if @truck.stops.blank?
			- title = @is_owner ? "You haven't" : "#{@truck.name} hasn't"
			%div
				%em= "#{title} scheduled any stops yet."
		= link_to 'Add a new stop!', '#', :class => 'btn btn-success btn-large' if @is_owner
		%ul
			- @truck.stops.upcoming do |stop|
				%li= stop.location
